<h2>ROUNDS</h2>
<button (click)="play()">Play</button>
<button (click)="reset()">Reset</button>
<div *ngIf="roundResults">
    <label>
        Total rounds: {{roundResults.length}}
    </label>
</div>
<table>
    <thead>
        <th>PLAYER1</th>
        <th>PLAYER2</th>
        <th>WINNER</th>
    </thead>
    <tbody>
        <tr *ngFor="let roundResult of roundResults">
            <td>{{roundResult.player1}}</td>
            <td>{{roundResult.player2}}</td>
            <td>{{roundResult.result}}</td>
        </tr>
    </tbody>
</table>
